<li class="flex 
           rounded-lg
           w-full lg:w-auto
           hover:bg-dropdw-hover-bg
           hover:text-dropdw-hover-txt
           duration-300 font-medium ease-linear
           content-center lg:content-none"
>
    <slot />
</li>