---
export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<h2
    data-subtitle
    class=`text-heading-1 font-bold
           text-lg/tight sm:text-xl/tight lg:text-2xl xl:text-3xl
           ${className}`
>
    <slot />
</h2>
