---
import Brands from "/src/layouts/Brands.astro";

import Title from "/src/components/shared/Title.astro";
---

<Brands>
    <div slot="title" class="text-center max-w-3xl mx-auto">
        <Title>Trusted by companies like</Title>
    </div>

    <div slot="companies" class="flex justify-center flex-wrap gap-4">
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/spotify.png"
                width="100"
                height="60"
                alt="spotify"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/slack.png"
                width="100"
                height="60"
                alt="slack"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/paypal.png"
                width="100"
                height="60"
                alt="paypal"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/spotify.png"
                width="100"
                height="60"
                alt="spotify"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/slack.png"
                width="100"
                height="60"
                alt="slack"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/paypal.png"
                width="100"
                height="60"
                alt="paypal"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/spotify.png"
                width="100"
                height="60"
                alt="spotify"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/slack.png"
                width="100"
                height="60"
                alt="slack"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/paypal.png"
                width="100"
                height="60"
                alt="paypal"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/spotify.png"
                width="100"
                height="60"
                alt="spotify"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/slack.png"
                width="100"
                height="60"
                alt="slack"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
        <div
            class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
        >
            <img
                src="/logos/paypal.png"
                width="100"
                height="60"
                alt="paypal"
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
        </div>
    </div>
</Brands>
