---
import Stats from "/src/layouts/Stats.astro";
---

<Stats>
  <div slot="created-projects" class="text-center">
    <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
      12+
    </h2>
    <p class="mt-2 text-heading-3">Created projects</p>
  </div>

  <div slot="projects" class="text-center">
    <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
      200+
    </h2>
    <p class="mt-2 text-heading-3">Projects</p>
  </div>

  <div slot="happy-clients" class="text-center">
    <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
      120
    </h2>
    <p class="mt-2 text-heading-3">Happy Client</p>
  </div>

  <div slot="years" class="text-center">
    <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
      5+
    </h2>
    <p class="mt-2 text-heading-3">Years</p>
  </div>
</Stats>
